.base-list {
  &__container {
    padding: 10px;
  }

  &__element {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 10px;
  }

  &__add {
    padding-left: 20px;
  }
}

.element {
  &__name {
    width: 100%;

    mat-form-field {
      max-width: 100%;
      width: 100%;
    }
  }
}
